
.start{
  margin-top: 150px;
}

body{
  margin:80px 0 100px 0;
  overflow: hidden
}


.navbar-footer-menu{
  list-style: none;
  margin:0;
  padding:0
}

.navbar-footer-menu li{
  display: inline-block;
  line-height: 60px;
  width: 30%;
  text-align: center;
}
